In [1]:
import pandas as pd
import requests
import os
import acquire

1. Using the code from the lesson as a guide and the REST API from https://python.zgulde.net/api/v1/items as we did in the lesson, create a dataframe named items that has all of the data for items.

In [2]:
def items_data():

    # establish a filename for the local csv
    filename = 'items.csv'
    # check to see if a local copy already exists. 
    if os.path.exists(filename):
        print('Reading from local CSV...')
        # if so, return the local csv
        return pd.read_csv(filename)
    # otherwise, pull the data from the api:
    
    # establish domain and endpoint for usl
    domain = 'https://api.data.codeup.com'
    endpoint = '/api/v1/items'
    print('No local csv available. \nReading data from ', domain + endpoint, '...')
    
    # establish empty list for storing data
    items = []
    
    # establish counter for printing progress report
    page_number = 0
    
    # check whether there is another page of data to be read
    while endpoint != None:
        # add one to the counter
        page_number += 1
        # re-establish url as the next page
        url = domain + endpoint
        # make the request
        response = requests.get(url)
        # read the response as json
        data = response.json()
        # add items to the list
        items.extend(data['payload']['items'])
        # print progress report
        print('page # ', page_number, ' data acquired. ', len(items), ' items in list.')
        # establish url for the next page
        endpoint = data['payload']['next_page']
    # print results
    print(page_number, 'page(s) acquired. No more pages available.')

    # create a dataframe
    df = pd.DataFrame(items)
    
    # store a copy as a local csv
    print('Writing to local file ', filename, '...')
    df.to_csv('items.csv', index=False)
    
    # return the resulting dataframe
    return df

In [3]:
df = items_data()

Reading from local CSV...

2. Do the same thing, but for stores (https://python.zgulde.net/api/v1/stores)

In [4]:
def stores_data():

    # establish a filename for the local csv
    filename = 'stores.csv'
    # check to see if a local copy already exists. 
    if os.path.exists(filename):
        print('Reading from local CSV...')
        # if so, return the local csv
        return pd.read_csv(filename)
    # otherwise, pull the data from the api:
    
    # establish domain and endpoint for usl
    domain = 'https://api.data.codeup.com'
    endpoint = '/api/v1/stores'
    print('No local csv available. \nReading data from ', domain + endpoint, '...')
    
    # establish empty list for storing data
    stores = []
    
    # establish counter for printing progress report
    page_number = 0
    
    # check whether there is another page of data to be read
    while endpoint != None:
        # add one to the counter
        page_number += 1
        # re-establish url as the next page
        url = domain + endpoint
        # make the request
        response = requests.get(url)
        # read the response as json
        data = response.json()
        # add items to the list
        stores.extend(data['payload']['stores'])
        # print progress report
        print('page # ', page_number, ' data acquired. ', len(stores), ' stores in list.')
        # establish url for the next page
        endpoint = data['payload']['next_page']
    # print results
    print(page_number, 'page(s) acquired. No more pages available.')

    # create a dataframe
    df = pd.DataFrame(stores)
    
    # store a copy as a local csv
    print('Writing to local file ', filename, '...')
    df.to_csv('stores.csv', index=False)
    
    # return the resulting dataframe
    return df

In [5]:
df = stores_data()

Reading from local CSV...

In [6]:
df.head(3)

             store_address   store_city  store_id store_state  store_zipcode
0   12125 Alamo Ranch Pkwy  San Antonio         1          TX          78253
1         9255 FM 471 West  San Antonio         2          TX          78251
2  2118 Fredericksburg Rdj  San Antonio         3          TX          78201

3. Extract the data for sales (https://python.zgulde.net/api/v1/sales). There are a lot of pages of data here, so your code will need to be a little more complex. Your code should continue fetching data from the next page until all of the data is extracted.

In [7]:
def sales_data():

    # establish a filename for the local csv
    filename = 'sales2.csv'
    # check to see if a local copy already exists. 
    if os.path.exists(filename):
        print('Reading from local CSV...')
        # if so, return the local csv
        return pd.read_csv(filename)
    # otherwise, pull the data from the api:
    
    # establish domain and endpoint for usl
    domain = 'https://api.data.codeup.com'
    endpoint = '/api/v1/sales'
    print('No local csv available. \nReading data from ', domain + endpoint, '...')
    
    # establish empty list for storing data
    sales = []
    
    # establish counter for printing progress report
    page_number = 0
    
    # check whether there is another page of data to be read
    while endpoint != None:
        # add one to the counter
        page_number += 1
        # re-establish url as the next page
        url = domain + endpoint
        # make the request
        response = requests.get(url)
        # read the response as json
        data = response.json()
        # add items to the list
        sales.extend(data['payload']['sales'])
        # print progress report
        print('page # ', page_number, ' data acquired. ', len(sales), ' sales in list.')
        # establish url for the next page
        endpoint = data['payload']['next_page']
    # print results
    print(page_number, 'page(s) acquired. No more pages available.')

    # create a dataframe
    df = pd.DataFrame(sales)
    
    # store a copy as a local csv
    print('Writing to local file ', filename, '...')
    df.to_csv('sales.csv', index=False)
    
    # return the resulting dataframe
    return df

5. Combine the data from your three separate dataframes into one large dataframe.

In [8]:
items = acquire.items_data()

Reading from local CSV...

In [9]:
stores = acquire.stores_data()

Reading from local CSV...

In [10]:
sales = acquire.sales_data()

Reading from local CSV...

In [11]:
sales = sales.rename(columns={'item': 'item_id', 'store': 'store_id'})
sales.head(2)

   item_id  sale_amount                      sale_date  sale_id  store_id
0        1         13.0  Tue, 01 Jan 2013 00:00:00 GMT        1         1
1        1         11.0  Wed, 02 Jan 2013 00:00:00 GMT        2         1

In [12]:
items.head(2)

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925

In [13]:
stores.head(2)

            store_address   store_city  store_id store_state  store_zipcode
0  12125 Alamo Ranch Pkwy  San Antonio         1          TX          78253
1        9255 FM 471 West  San Antonio         2          TX          78251

In [14]:
items.isnull().sum().sum(), stores.isnull().sum().sum(), sales.isnull().sum().sum()

(0, 0, 0)

In [15]:
sales_items = items.merge(sales, on='item_id')
sales_items.head(2)

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14,sale_amount,sale_date,sale_id,store_id
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,13.0,"Tue, 01 Jan 2013 00:00:00 GMT",1,1
1,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,11.0,"Wed, 02 Jan 2013 00:00:00 GMT",2,1

In [16]:
stores_sales_items = sales_items.merge(stores, on='store_id')

In [17]:
stores_sales_items.head(2)

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14,sale_amount,sale_date,sale_id,store_id,store_address,store_city,store_state,store_zipcode
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,13.0,"Tue, 01 Jan 2013 00:00:00 GMT",1,1,12125 Alamo Ranch Pkwy,San Antonio,TX,78253
1,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,11.0,"Wed, 02 Jan 2013 00:00:00 GMT",2,1,12125 Alamo Ranch Pkwy,San Antonio,TX,78253

In [18]:
def combine_heb_data(sales, items, stores):
    sales = sales.rename(columns={'item': 'item_id', 'store': 'store_id'})
    sales_items = items.merge(sales, on='item_id')
    stores_sales_items = sales_items.merge(stores, on='store_id')
    return stores_sales_items

In [20]:
df = acquire.combine_store_data(sales, items, stores)
df.head()

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14,sale_amount,sale_date,sale_id,store_id,store_address,store_city,store_state,store_zipcode
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,13.0,"Tue, 01 Jan 2013 00:00:00 GMT",1,1,12125 Alamo Ranch Pkwy,San Antonio,TX,78253
1,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,11.0,"Wed, 02 Jan 2013 00:00:00 GMT",2,1,12125 Alamo Ranch Pkwy,San Antonio,TX,78253
2,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,14.0,"Thu, 03 Jan 2013 00:00:00 GMT",3,1,12125 Alamo Ranch Pkwy,San Antonio,TX,78253
3,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,13.0,"Fri, 04 Jan 2013 00:00:00 GMT",4,1,12125 Alamo Ranch Pkwy,San Antonio,TX,78253
4,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,10.0,"Sat, 05 Jan 2013 00:00:00 GMT",5,1,12125 Alamo Ranch Pkwy,San Antonio,TX,78253

6. Acquire the Open Power Systems Data for Germany, which has been rapidly expanding its renewable energy production in recent years. The data set includes country-wide totals of electricity consumption, wind power production, and solar power production for 2006-2017. You can get the data here: https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv

In [21]:
def opsd_germany_data():
    
    # establish a filename for the local csv
    filename = 'opsd_germany.csv'
    # check to see if a local copy already exists. 
    if os.path.exists(filename):
        print('Reading from local CSV...')
        # if so, return the local csv
        return pd.read_csv(filename)
    # otherwise, pull the data from the api:
    url = 'https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv'
    print('No local copy exists. Reading data from: ', url, '...')
    df = pd.read_csv(url)
    # write to local csv for cache
    print('Writing to local csv...')
    df.to_csv(filename, index=False)
    
    return df

In [22]:
df = acquire.opsd_germany_data()

Reading from local CSV...

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4383 entries, 0 to 4382
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         4383 non-null   object
 1   Consumption  4383 non-null   float64
 2   Wind         2920 non-null   float64
 3   Solar        2188 non-null   float64
 4   Wind+Solar   2187 non-null   float64
dtypes: float64(4), object(1)
memory usage: 171.3+ KB